<?xml version="1.0" encoding="UTF-8"?>
<configuration status="TRACE">
    <properties>
        <property name="LOG_HOME">${sys:catalina.base}/logs</property>
        <property name="FILE_NAME">ssm-template.log</property>
    </properties>

    <appenders>
        <Console name="CONSOLE_OUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <RollingFile name="ROLLING_FILE" fileName="${LOG_HOME}/${FILE_NAME}" filePattern="${LOG_HOME}/$${date:yyyy-MM}/${FILE_NAME}-%d{MM-dd-yyyy}-%i.log" immediateFlush="true">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>
    </appenders>

    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="CONSOLE_OUT"/>
            <AppenderRef ref="ROLLING_FILE"/>
        </Root>
    </Loggers>
</configuration>