<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd
">

    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <bean id="myAdvice" class="com.dinner3000.aop.MyAdvice"/>
    <aop:config>
        <aop:pointcut id="target" expression="execution(* com.dinner3000.springmvc.controller..*(..))"></aop:pointcut>
        <aop:aspect id="" ref="myAdvice">
            <aop:before method="before" pointcut-ref="target"></aop:before>
            <aop:after method="after" pointcut-ref="target"></aop:after>
            <aop:around method="around" pointcut-ref="target"></aop:around>
            <aop:after-returning method="afterReturning" pointcut-ref="target" returning="retVal"></aop:after-returning>
        </aop:aspect>
    </aop:config>

</beans>
