<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <array>
                <value>classpath:redis.properties</value>
                <value>classpath:mysql.properties</value>
            </array>
        </property>
    </bean>

    <!--<import resource="spring-jdbctemplate.xml"/>-->
    <import resource="spring-c3p0.xml"/>
    <import resource="spring-transaction.xml"/>
    <import resource="spring-validator.xml"/>
    <import resource="spring-mybatis.xml"/>
    <import resource="spring-aop.xml"/>

    <context:component-scan base-package="com.dinner3000"/>

</beans>